<div id="tenant_area">
    <label>{{tenant_msg}}</label>
    <form name="form2" class="form-style-9 check-element animate-show-hide" id="upright" >
        <ul class="form-style-1">
            <li>
                <input type = "file" file-model = "myFile" accept="application/x-zip-compressed"/>
            </li>
            <li>
                <button ng-click = "uploadFile()">upload me</button>
            </li>

            <li>
                <br /> <img src="data:image/JPEG;base64,{{umlimg}}" ng-model="umlimg"    width="600" height="400">
            </li>
        </ul>
    </form>

    <form name="form1" class="form-style-9 check-element animate-show-hide" ng-show="graderChecked" id="upleft">
        <ul class="form-style-1">

            <li>
                <label ng-model="msg"> <span class="required"></span>{{msg}}</label>
            </li>
            <li>
                <label ng-model="msg"> <span class="required"></span>Tenant 1 by Umang Saxena</label>
            </li>
            <li>
                <label ng-model="msg"> <span class="required"></span>SJSU ID: 010762986</label>
            </li>
          <!--  <li>
                <label>StudentID <span class="required">*</span></label>
                <input required=true type="text" name="username" class="field-long" ng-model="studentid" />
            </li>-->
            <li>
                <label>Student Name<span class="required">*</span></label>
                <input required=true type="text" name="passwd" class="field-long" ng-model="studentname" />
            </li>
            <li >
                <label>
                    Grade :
                    <select ng-model="grade" class="field-select" id="grade" required=true>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                    </select>
                </label>
            </li>

            <li>
                <label>Comments<span class="required">*</span></label>
                <textarea required="true" class="field-long" ng-model="gradecomments"></textarea>

            </li>
            <li>
                <button style="width: 30%" ng-click = "submitGrades()">Submit </button>
                <button style="width: 30%; margin-right: 20px" ng-click = "reset()">Reset </button>

            </li>


        </ul>
    </form>
</div>
